.order{
    padding: 13rem 0 5rem 0;
    background-image: url(/MeroPizza/img/order.png);
  
    background-repeat: no-repeat;
    background-size: contain;
}
.detail{
    display: flex;
    justify-content: space-around;
}

.status{
    border: 1px solid gray;
}
table,th,td{
    border: 1px solid gray;
}
th{
    font-size: 3rem;
    color: yellow;
    font-weight: bold;
    padding: 1vw 5vw;
}
td{
    padding: 3vw 5vw;

}

.nestedTable {
border: none;
}
.nestedTable td{
    padding: 10px;
}
.nestedTable tr:first-child{
  font-size: 2rem;
}
.cnt{
    margin-bottom: 1.5rem;
}
.btn{
    padding: 10px;
    border-radius: 15px;
    color: white;
    background: black;
    box-shadow: 1px 1px 1px 1px white;
}
.btn:hover{
    cursor: pointer;
    transform: scale(.9);
}
.total{
    display: flex;
    justify-content: space-between;
}