    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    header {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 1rem;
    }
    header h1{
       margin-top: 10rem;
    }

    .container {
     
      margin: 0 10rem 0 5rem;
      padding: 1rem;
      display: flex;
    }
    @media (max-Width:1050px) {
      .container{
        flex-wrap: wrap;
      }
      
    }
    .container div{
      margin: 1rem;
    }

    .user-info {
      margin-bottom: 1rem;
      display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    }

    .user-info label {
      font-weight: bold;
    }

    .user-info span {
      display: block;
      margin-bottom: 0.5rem;
    }

    .change-password-form {
      border: 1px solid #ccc;
      padding: 1rem;
    }
    .change-password-form{
      width: 50%;
    }
    @media (max-Width:850px) {
      .change-password-form{
        width: auto;
      }
      
    }
    .change-password-form label {
      font-weight: bold;
    }

    .change-password-form input {
      width: 100%;
      padding: 0.5rem;
      margin-bottom: 1rem;
    }

    .change-password-form button {
      background-color: #333;
      color: #fff;
      padding: 0.5rem 1rem;
      border: none;
      cursor: pointer;
    }

    .change-password-form button:hover {
      background-color: #444;
    }
  #ppedit:hover{
    transform: scale(1.2);
    cursor: pointer;
  }
  #pic{
    border: 1px solid;
    border-radius: 10px;
    width: 100px;
  }